<!DOCTYPE html>
<html>
<head>
  <title>Ahhauling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div id="wrap">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">-A.H. Hauling-</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Book With Us', root_path(anchor: "book") %></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</div>

<!-- footer start-->
<br class="clr" />


<div id=" footer">
  <div class="paddingtop container">
    <div class="col-xs-12 col-sm-3">
      <b>Contact</b>
      <br />
      Anthony Hernandez
      <br />
      ahhauling1@gmail.com
      <br />
      (770) 490-5205
    </div>
    <div class="col-xs-12 col-sm-3">
      <b>More About AH Hauling...</b>
      <br />
      <%= link_to 'Careers', careers_path %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <b>Want a site like this?</b>
      <br />
      <%= link_to 'Click Here', 'http://elsonmathew.herokuapp.com/' %>
    </div>
    <div class="col-xs-12 col-sm-3 social">
      <b>Follow Us For Updates!</b>
      <br />
      <%= link_to 'https://www.facebook.com/AH-Hauling-1233452106741434/' do %>
          <%= image_tag 'facebook.png', class: 'social-button' %>
      <% end %>
      <%= link_to 'https://twitter.com/AhHauling' do %>
          <%= image_tag 'twitter.png', class: 'social-button' %>
      <% end %>
    </div>

  </div>
</div>

<!-- footer end-->




</body>
</html>
